@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}


body {
    background-image: linear-gradient(to right,#b3b289, #a1a082);
}
main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #042940b9;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #005C53;
    text-align: center;
}
h2 {
    color: #005C53;
}
p {
    text-align: justify;
}
